@charset "UTF-8";

:root{

--color1:#0C0826;
--color2:#282740;
--color3:#00010D;
--color4:#5D6973;
--color5:#979FA6;

}

*{font-family: Georgia, 'Times New Roman', Times, serif;}

body{background-color: var(--color5)}

header{padding: 6px 0px 0px 0px;
    margin: -33px -8px 0px -8px;
    background-color: var(--color1);}

/* Titulo*/
header > h1{
    color: white;
    padding: 10px 10px 10px 10xp;
    margin:32px 0px 3px 10px;}

/* configurações da barra de menu*/

header >nav{border: #979FA6 1px;
    display: flex;
    margin: 1px 0px -8px 1px;
    padding: 5px 0px 5px 5px;
    background-color: var(--color4);
    }

header>nav >a{
    margin: 5px 10px 5px 10px;
    color: aliceblue;
    text-decoration: none;}

.login{margin: -8px;
    padding: 0px;
    height: 34px;
    width: 35px;
}}

/* Menu interativo*/

header>nav>a:hover{color: var(--color5);}

#c01{}
#c02{}
#c03{}
#c04{
    margin-left: auto;}

/*O corpo da pagina*/

main{
    padding: 5px 20px 25px 20px;
    margin: 8px 15px 8px 15px;
    background-color: white;}

.flex{
    display: flex;
    flex-wrap: wrap;
    }

img{border: black;
    height: 300px;
    }

.marca{font-family: 'Courier New', Courier, monospace;
    
    margin: 1px 1px;
    font-weight: bold;
    color: var(--color1);}

.nome{font-family: 'Courier New', Courier, monospace;
    
    font-size: medium;}

.preco{text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 1px 1px;
    font-weight: bold;}

.cardcss{
    width: 200px;
    margin: 5px 5px 5px 5px;
    border: solid #00010D 1px}

 button{color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color4);
    border: solid white;}
