@charset "UTF-8";

h1{text-align: center;
    font-family: Arial, Helvetica, sans-serif;}

#bloco{
    border: 1px rgba(165, 165, 165, 0.548) solid;
    height: 40vh;
    width: 473px;
    overflow:auto ;}

.contato{border-left: 1px rgba(168, 168, 168, 0.281) solid ; 
    border-bottom: 1px rgba(168, 168, 168, 0.281) solid ;
    padding: 5px;
    grid-template-columns: 20vh 50vh;
    grid-template-rows: 7vh 8vh 5vh;
    display: grid;
}

.contato :hover{background-color: aquamarine;}
.contato img{
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1/4;
}

.contato div{
    
    grid-column: 2 ;
    grid-row: 1/4;
}
.contato h1{
    padding-left: 5px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: rgb(168, 168, 168);}

.contato p{
    padding-left: 5px;
    font-size: 17px;
    font-family: 'Arial Narrow', Arial, sans-serif;}
